{{ 'section-hero.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<div class="hero">
  <div class="image-1">
    {%- if section.settings.image_2 != blank -%}
      {{ section.settings.image_2 | image_url: width: 500 | image_tag:
        loading: 'eager',
        width: section.settings.image_2.width,
        height: section.settings.image_2.height,
        class: "hero__logo",
        alt: section.settings.image_2.alt | escape
      }}
    {%- endif -%}
  </div>

  <div class="image-2">
    {%- if section.settings.image_1 != blank -%}
      {{ section.settings.image_1 | image_url: width: 2000 | image_tag:
        loading: 'eager',
        width: section.settings.image_1.width,
        height: section.settings.image_1.height,
        class: "hero__background",
        alt: section.settings.image_1.alt | escape
      }}
    {%- endif -%}
    
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %} 