.reviews-strip {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: var(--gradient-background);
}
.reviews-strip-container {
  padding: 0.5rem 0 1rem 0;
  overflow: visible;
  display: flex;
  align-items: center;
}
.reviews-strip-discount {
  display: none;
  padding: 0 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 600;
  color: var(--color-foreground);
}

.reviews-scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.reviews-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.reviews-scroll-container:active {
  cursor: grabbing;
}

.reviews-scroll-content {
  display: inline-block;
  white-space: nowrap;
  animation: scrollReviews 40s linear infinite;
  padding: 0 20px;
}

.review-item {
  display: inline-block;
  margin-right: 3.5rem;
  color: var(--color-foreground);
  vertical-align: middle;
}
.review-item,
.review-item .review-title,
.review-item .link {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5;
}

.review-item .rating {
  display: inline-block;
  margin-right: 1rem;
  color: var(--color-foreground);
}

.review-item .star {
  color: var(--color-foreground);
}

.review-item .star-empty {
  color: var(--color-foreground);
  opacity: 0.3;
}

.review-item .link {
  color: var(--color-foreground);
  text-decoration: none;
  font-weight: 500;
}

@keyframes scrollReviews {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 749px) {
  .review-item {
    margin-right: 2rem;
  }
}
