.hero {
  background: #e7ceaf;
  height: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.hero .image-2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}

.hero .image-2 img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.hero .image-1 {
  width: 50%;
  height: 100%;
  padding: 0 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 1;
}

.hero .image-1 img {
  width: 380px;
  height: auto;
}

.hero .image-1 p {
  margin-bottom: 0;
}

.hero .image-1 .button {
  color: black;
  font-size: 18px;
}

.hero .image-1 a {
  margin-top: 2rem;
  color: black;
  font-size: 20px;
  text-underline-offset: 4px;
}

@media (max-width: 720px) {
  .hero {
    height: auto;
    flex-direction: column;
  }

  .hero .image-1,
  .hero .image-2 {
    width: 100%;
    height: auto;
  }

  .hero .image-2 {
    height: 300px;
    position: relative;
    overflow: hidden;
    order: 1;
  }

  .hero .image-2 img {
    width: 100%;
    position: relative;
  }

  .hero .image-1 {
    padding: 3rem 0;
    order: 2;
    display: none;
  }

  .hero .image-1 img {
    width: 80%;
  }
}
